@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@600&family=Play&display=swap");
* {
  padding: 0;
  margin: 0;
}

.body {
  background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.con {
  width: 30%;
  height: 100vh;
  position: relative;
}
#scoreBox {
  position: absolute;
  top: 5%;
  /* left: 75%; */
  font-size: 29px;
  font-weight: bold;
  font-family: "Architects Daughter", cursive;
  font-family: "Caveat", cursive;
  font-family: "Play", sans-serif;
}
#hiscoreBox {
  position: absolute;
  top: 10%;
  /* left: 75%; */
  font-size: 29px;
  font-weight: bold;
  font-family: "Architects Daughter", cursive;
  font-family: "Caveat", cursive;
  font-family: "Play", sans-serif;
}

#board {
  background: rgba(0, 0, 0, 0.329);
  width: 90vmin;
  height: 92vmin;
  transform: translateX(-120px);
  border: 3px solid rgb(243, 243, 243);
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  /* position: absolute; */
}
.head {
  background: linear-gradient(pink, aqua);
  border: 2px solid white;
  border-radius: 13px;
  transform: scale(1.05);
}
.snake {
  background: linear-gradient(purple, orange);
  border: 0.25vmin solid white;
  border-radius: 12px;
}
.food {
  background: linear-gradient(red, purple);
  border: 0.25vmin solid white;
  border-radius: 20px;
}
.Game {
  position: absolute;
  text-align: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgba(231, 231, 231, 0.656);
  font-size: 35px;
  /* bottom: -14%; */
  /* left: 75%; */
  /* top: 97%; */
  border-radius: 13px;
  font-family: "Architects Daughter", cursive;
  font-family: "Caveat", cursive;
  font-family: "Play", sans-serif;
  box-shadow: 0px 2px 2px rgb(102, 98, 98);
  padding: 10px;
  top: 25%;
}

.table {
  width: 80% !important;
  margin-right: 120px;
  /* left: 0px; */
  top: 40% !important;
  margin-top: 20px;
  position: absolute;
  font-family: "Architects Daughter", cursive;
  font-family: "Caveat", cursive;
  font-family: "Play", sans-serif;
}
th,
td {
  border: 1px solid black;
  padding: 5px;
}
